

@media (max-width: 600px) {

html {font-size: 40%;}   /*1200px phone 9/16=56.25%*/


.all {
    max-width: 60rem;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.h1 {
    width: 51%;
}

.sg1 {
    top: 5%;
    left: -5%;
}
.sg2 {
    top: 20%;
    right: 10%;
}
.sg3 {
    top: 50%;
    left: 10%;
}

.app__text {
    width: 100%;
}

.app__download {
    font-size: 2.5rem;
    padding: 1.5rem 2.5rem;
    border-radius: 5px;
}

.follow {
    width: 80%;
}

.follow .p-p {
    font-size: 2.5rem;
}

.icon {
    width: 3.5rem;
}

.p-w {
    font-size: 2.1rem;
}


}